{% set pageTitle = "You are in a queue" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "letter" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{pageTitle}}</h1>

      <p>Lots of people are trying to find their NHS number at the moment.</p>
      <p>We will tell you where you are in the queue and your estimated wait time shortly.</p>
       <p>You do not need to know your NHS number to use NHS services, including booking appointments.</p>
      <p>Continue to wait or try again later.</p>
      <p>Do not refresh this page &mdash; you will lose your place in the queue.</p>

      <h2>When you get to the appointment booking screens</h2>
      <p>Try to answer the questions as quickly as you can, or you may go back into the queue.</p>

    </div>
  </div>

{% endblock %}
