{% set pageTitle = "You are in a queue" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "letter" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{pageTitle}}</h1>

      <p>Do not refresh this page &mdash; you will lose your place in the queue.</p>

      <p>We will tell you where you are in the queue and your estimated wait time shortly.</p>

      <p>Continue to wait or try again later.</p>

      <p>You do not need to know your NHS number to use NHS services, including booking appointments.</p>


    </div>
  </div>

{% endblock %}
