{% set pageTitle = "We've sent your NHS number to you" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ pageTitle }}</h1>
      <p>It should arrive instantly.</p>
      <p>If you do not receive it after 3 days please contact your GP surgery to get your NHS number. If you're not sure what your GP surgery is, you can <a href="https://www.nhs.uk/service-search/find-a-GP">find a GP</a> here.</p>
          <p> You can also find your NHS number on the <a href="https://www.nhsapp.service.nhs.uk/login">NHS App.</a> If you have not used it before, you will need to register.</p>
    </div>
  </div>
{% endblock %}
