{% set pageTitle = "We've sent your NHS number to you" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ pageTitle }}</h1>
      <p>It can take up to 3 days to arrive.</p>
      <p>If you do not receive it after this time please contact your GP surgery to get your NHS number. If you're not sure what your GP surgery is, you can <a href="https://www.nhs.uk/service-search/find-a-GP">find a GP</a> here.</p>
       <p> You can also get your NHS number by using the <a href="https://www.nhs.uk/nhs-services/online-services/nhs-app/">NHS app</a>.

    </div>
  </div>
{% endblock %}
