{% set pageTitle = "You are in a queue" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{pageTitle}}</h1>

      <p>Lots of people are trying to book an appointment at the moment.</p>
      <p>We will tell you where you are in the queue and your estimated wait time shortly.</p>
       <p>You can only use this service if you have received a letter inviting you to book your vaccination appointments.</p>
       <p>The vaccination is currently being offered to people aged 80 or over. </p>
       <p>Letters are being sent out every week so you might not get your letter straight away.</p>
      <p>If you are eligible to use this service, continue to wait or try again later.</p>
      <p>Do not refresh this page &mdash; you will lose your place in the queue.</p>

      <h2>When you get to the appointment booking screens</h2>
      <p>You will be asked for your NHS number - this is a 10 digit number you can find on any letter the NHS has sent you. For example, 485 777 3546</p>
      <p>If you do not know your NHS number you can still book your vaccination appointments.</p>
      <p>Try to answer the questions as quickly as you can, or you may go back into the queue.</p>

    </div>
  </div>

{% endblock %}
