{% set pageTitle = "We cannot find your NHS number" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{pageTitle}}</h1>
      <p>This might be because your GP surgery does not know:</p>
      <ul>
        <li>your address if you have moved</li>
        <li>your surname if you have changed it</li>
      </ul>
      <p>Please contact your GP to get your NHS number.</p>
      <p><a href="/v1">Try again.</a></p>
    </div>
  </div>



{% endblock %}
