{% set pageTitle = "We cannot find your contact details" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "v1" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{pageTitle}}</h1>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            Important
          </span>
        </h3>
        <p>You do not need your NHS number to use NHS services.</p>
      </div>

      <p>Please contact your GP surgery to get your NHS number. If you're not sure what your GP surgery is, you can <a href="https://www.nhs.uk/service-search/find-a-GP">find a GP</a> here.</p>
      <p> You can also get your NHS number by using the <a href="https://www.nhsapp.service.nhs.uk/login">NHS App</a>.

    </div>
  </div>

{% endblock %}
