{% set pageTitle = "Where should we send your NHS number?" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "no-letter" %}

{% extends "includes/layout.html" %}

{% block backLink %}
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" href="/{{version}}/check-your-answers">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form method="post" action="/{{version}}/confirmation-page">

        <fieldset class="nhsuk-fieldset" aria-describedby="nhs-number-match-hint">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              {{ pageTitle }}
            </h1>
          </legend>

          <div class="nhsuk-hint">
            These are the contact details your GP surgery has for you.
          </div>

          <div class="nhsuk-form-group">

            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="nhs-number-match-1" name="nhs-number-match" type="radio" value="By email" {{ checked("nhs-number-match", "By email") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="nhs-number-match-1">
                  By email to •••••jones@•••il.com
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="nhs-number-match-2" name="nhs-number-match" type="radio" value="By text" {{ checked("nhs-number-match", "By text") }}>
                <label class="nhsuk-label nhsuk-radios__label" for="nhs-number-match-2">
                  By text to mobile ending 127
                </label>
              </div>

         
            </div>
          </div>

        </fieldset>

       <p>If these details are not correct, you can find your NHS number in the <a href="https://www.nhsapp.service.nhs.uk/login">NHS App.</a> If you have not used it before, you will need to register.</p>

         <p> You can also contact your GP surgery to get your NHS number. If you're not sure what your GP surgery is, you can <a href="https://www.nhs.uk/service-search/find-a-GP">find a GP</a> here.</p>



        <button class="nhsuk-button" type="submit">
          Send my NHS number
        </button>

      </form>

    </div>
  </div>
{% endblock %}
