{% extends 'layout.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{serviceName}} - NHS
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{serviceName}} prototypes</h1>

      <hr>

      <h2>Main journey</h2>
      <ul>
        <li>
          <a href="/v1">{{serviceName}} v1 (with letter)</a>
        </li>
        <li>
          <a href="/v2">{{serviceName}} v2 (without letter)</a>
        </li>
      </ul>

      <!--<h2>Optional journeys</h2>
      <ul>
        <li>
          <a href="/cd">Contact details error journey</a>
        </li>
        <li>
          <a href="/nhsn">NHS number error journey</a>
        </li>
      </ul>-->

      <h2>Individual pages</h2>
      <ul>
        <li><a href="/v1/we-cannot-find-your-nhs-number">We cannot find your NHS number</a>
          <ul>
            <li><a href="/v1/we-cannot-find-your-nhs-number-v2">We cannot find your NHS number V2</a></li>
          </ul>
        </li>

        <li><a href="/v1/we-cannot-find-your-contact-details">We cannot find your contact details</a>
          <ul>
            <li><a href="/v2/we-cannot-find-your-contact-details">We cannot find your contact details V2</a></li>
          </ul>
        </li>

      </ul>





    </div>
  </div>
{% endblock %}
