{% extends 'layout.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  {{serviceName}} - NHS
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    
      <h1>
        {{serviceName}} prototypes
      </h1>

      <hr>

      <h2>
        Versions
      </h2>

      <ul>
        <li><a href="/v1">Version 1</a></li>
      </ul>


    </div>
  </div>
{% endblock %}
