{% set pageTitle = "We cannot find your contact details" %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set version = "letter" %}

{% extends "includes/layout.html" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{pageTitle}}</h1>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            Important
          </span>
        </h3>
        <p>You do not need to know your NHS number to use NHS services, including <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/coronavirus-vaccination/book-coronavirus-vaccination/">booking a coronavirus vaccine</a>, if you have been invited.</p>
      </div>


       <p>You can find your NHS number in the <a href="https://www.nhsapp.service.nhs.uk/login">NHS App.</a> If you have not used it before, you will need to register.</p>
      <p>You can also contact your GP surgery to get your NHS number. If you're not sure what your GP surgery is, you can <a href="https://www.nhs.uk/service-search/find-a-GP">find a GP</a>.</p>


    </div>
  </div>

{% endblock %}
